@font-face {
    font-family: "Roboto";
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2);
}
@font-face {
    font-family: "Solway";
    src: url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8.woff2);
}